<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <xmeta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <xmeta charset="UTF-8">
      
      <!--  -->
      
      <table align="center" class="stb-container" cellpadding="0" cellspacing="0" style="margin: 0px auto; width: 94%; max-width: 640px; background: rgb(255, 255, 255); border: 0px;">
        <tbody><tr style="margin: 0;padding:0;"><td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
      
            <div style="height: 0px; max-height: 0px; border-width: 0px; border-color: initial; border-image: initial; visibility: hidden; line-height: 0px; font-size: 0px; overflow: hidden;display:none;">
               
            </div>
      <table class="stb-block" border="0" cellpadding="0" cellspacing="0" style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none; border:0;" width="100%;">
        <tbody><tr><td style="padding: 15px 0 15px 0; line-height: 1.8; border-width: 0px;">
            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0" style="padding: 0px 5px;table-layout:fixed" width="100%">
              <tbody><tr><td style="padding: 0px 10px;" width="100%">
                  <div>
                    <p style="text-align: justify; margin: 0px;width:100%">
                      
                        <img alt="" src="https://s3.ap-northeast-2.amazonaws.com/img.stibee.com/63_1524550140.jpg" style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;" width="610">
                      
                    </p>
                  </div>
                </td></tr></tbody></table>
          </td></tr></tbody></table>
      
      <table class="stb-block" border="0" cellpadding="0" cellspacing="0" style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none; border:0;" width="100%;">
        <tbody><tr><td style="padding: 15px 0 15px 0; line-height: 1.8; border-width: 0px;">
            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0" style="padding: 0px 5px;table-layout:fixed" width="100%">
              <tbody><tr><td style="padding: 0px 10px;" width="100%">
                  <div>
                    <p style="text-align: justify; margin: 0px;width:100%">
                      
                        <img alt="" src="https://s3.ap-northeast-2.amazonaws.com/img.stibee.com/63_1523712614.jpg" style="width: 100%; display: inline; vertical-align: middle; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;" width="610">
                      
                    </p>
                  </div>
                </td></tr></tbody></table>
          </td></tr></tbody></table>
      
      <table class="stb-block" border="0" cellpadding="0" cellspacing="0" style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none;border:0;" width="100%">
        <tbody><tr><td style="padding: 15px 0 15px 0; line-height: 1.8; border-width: 0px;font-size: 14px;">
            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0" style="padding: 0px 5px;" width="100%">
              <tbody><tr><td style="padding: 0px 10px;mso-line-height-rule: exactly;line-height:1.8;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;font-size: 14px;font-family: AppleSDGothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, sans-serif!important" width="100%">
                    <div><span style="font-size: 20px;">개헌과 이를 위해 선행되어야 하는 국민투표법 개정에 대한 유권자들의 메세지를 전해드립니다. 소통을 원하는 국민의 요청에 응해 주시기 바랍니다.&nbsp;</span></div>
                    <div><br></div>

                    <% var i, l, u; %>
                    <% for (i=user_petitions.length-1, l=user_petitions.length; i>=0; i--) { %>
                      <% u = user_petitions[i]; %>
                      <div><span style="font-size: 18px;"><span style="font-weight: normal;">&lt; 의원님께 도착한&nbsp;
                        <%= new Intl.NumberFormat().format(congressman.total_user_petitions - l + i + 1) %>
                        번째 청원 &gt;</span></div>
                        <div><span style="font-size: 18px; font-weight: bold">"<%= u.message %>"</span></div>
                        <div>
                        *** -
                          <%= u.district %>
                          <%= u.sex %>
                          <%= u.job %>
                          (<%= u.referrer %>)<br><br></span></div>
                    <% } %>

                    <div><br></div>
                    <div><br></div>
                    <div style="text-align: right;"><br></div><div style="text-align: right; "><span style="font-size: 16px;">From. 국회소통</span></div><div style="text-align: right; "><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51); font-family: AppleSDGothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, sans-serif; font-style: normal; text-align: left;"><a href="https://sotong.co">sotong.co</a></span></span></div><div style="font-style: italic; text-align: right;"><br></div><div style="font-style: italic; text-align: right;border-bottom: 1px dotted #ddd;"><span style="font-style: italic;"><br></span></div><div style="font-style: italic; text-align: right;"><span style="font-style: italic;"><br></span></div><div style="text-align: center;"><span style="font-weight: bold; font-size: 16px;">지금까지 총 <%= new Intl.NumberFormat().format(total_user_petitions) %>명이 각 지역구 의원에게 청원하였습니다.<br/>국민투표법 개정에 대한 의원님의 소중한 의견을 유권자들에게 알려주세요.</span></div>
                    <div style="text-align: center;"><span style="font-weight: bold; font-size: 24px; line-height: 1.3;text-decoration: underline;word-break: keep-all;"><br/>"정부개헌안과 이를 위한 국민투표법의 신속한 처리에 찬성하시나요?"</span></div>
                </td></tr></tbody></table>
          </td></tr></tbody></table>
      <table class="stb-block" border="0" cellpadding="0" cellspacing="0" style="overflow: hidden; margin: 0px auto; padding: 0px 15px; max-width: 630px; clear: both;background: none;border:0;" width="100%">
        <tbody><tr><td style="padding: 15px 0 15px 0; text-align: center; line-height: 1.8; border: 0px;" width="100%">
            <table align="center" class="stb-cell-wrap-cta" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse: separate !important;background: #3a79e3;border-radius: 3px; border:0; mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;margin: 0 auto;table-layout:fixed">
              <tbody><tr><td style="padding: 16px 26px;min-width: 170px;">
                  <a target="_blank" href="<%=`https://api.sotong.co/v1/congressmans/${congressman.id}/email-respond?token=${token_key}&answer_id=1` %>" style="font-size: 16px; display: block; color: #ffffff; background: #3a79e3; border-radius: 3px; text-decoration: none; outline: 0px; font-family: applesdgothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, sans-serif;_display:inline" target="_blank" rel="noreferrer noopener">
                    네, 찬성합니다
                  </a>
                </td></tr></tbody></table>
          </td></tr></tbody></table>
      <table class="stb-block" border="0" cellpadding="0" cellspacing="0" style="overflow: hidden; margin: 0px auto; padding: 0px 15px; max-width: 630px; clear: both;background: none;border:0;" width="100%">
        <tbody><tr><td style="padding: 15px 0 15px 0; text-align: center; line-height: 1.8; border: 0px;" width="100%">
            <table align="center" class="stb-cell-wrap-cta" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse: separate !important;background: #e33a3a;border-radius: 3px; border:0; mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;margin: 0 auto;table-layout:fixed">
              <tbody><tr><td style="padding: 16px 26px;min-width: 170px;">
                  <a target="_blank" href=<%=`https://api.sotong.co/v1/congressmans/${congressman.id}/email-respond?token=${token_key}&answer_id=2` %> style="font-size: 16px; display: block; color: #ffffff; background: #e33a3a; border-radius: 3px; text-decoration: none; outline: 0px; font-family: applesdgothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, sans-serif;_display:inline" target="_blank" rel="noreferrer noopener">
                    아니요, 반대합니다
                  </a>
                </td></tr></tbody></table>
          </td></tr></tbody></table>
      <table class="stb-block" border="0" cellpadding="0" cellspacing="0" style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none;border:0;" width="100%">
        <tbody><tr><td style="padding: 15px 0 15px 0; line-height: 1.8; border-width: 0px;font-size: 14px;">
            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0" style="padding: 0px 5px;" width="100%">
              <tbody><tr><td style="padding: 0px 10px;mso-line-height-rule: exactly;line-height:1.8;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;font-size: 14px;font-family: AppleSDGothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, arial, helvetica, sans-serif!important" width="100%">
                  <div style="text-align: center;"><span style="font-size: 12px;">* 위 버튼을 누르면 '국회소통' 홈페이지에 반영되니 신중히 선택해 주시기 바랍니다.</span></div>
                </td></tr></tbody></table>
          </td></tr></tbody></table>
      <!--table class="stb-block" border="0" cellpadding="0" cellspacing="0" style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 620px; clear: both; border:0 background:none;" width="100%">
        <tbody><tr><td style="text-align:center;padding: 40px 0 40px 0;background-color: #eee;line-height: 1.5;">
            <div style="text-align: center;"><span style="font-weight: bold; color: rgb(10, 98, 157);">의원 전용 페이지에서 모든 청원을 보실 수 있습니다.</span><br><span style="font-weight: bold; color: rgb(10, 98, 157);"> </span><span style="font-weight: bold; text-decoration: underline; color: rgb(10, 98, 157);">보러가기</span></div>
          </td></tr></tbody></table -->
          </td></tr></tbody></table>
          <img style="display:none; width:0; height:0;" src="<%=`https://api.sotong.co/v1/congressmans/${congressman.id}/email-open.jpg?token=${token_key}`%>" />
      </xmeta>
    </xmeta>
  </body>
</html>
